<p id="notice"><%= notice %></p>

<h1><%= @state.title %></h1>


<h4>Products</h4>
<ul>
  <%= render :partial => 'shared/product', :collection => @state.products %>
</ul>

<p>
  <%= link_to 'Edit', edit_state_path(@state) %></td>
  <%= link_to 'Destroy', @state, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>