<!DOCTYPE html>
<html>
<head>
  <title>Redbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul class="inline-list">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
      <li><a href="#">Link 5</a></li>
    </ul>
  </header>

  <section>
    <div class='left-nav'>
      <ul>
        <% State.all.each do |state| %>
          <li>
            <%= link_to state.name, state %>
            <%= "(#{state.products.size})" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class='main'>
      <%= yield %>
    </div>
  </section>

</body>
</html>
